<nav
  class="navbar navbar-expand-lg navbar-light bg-white w-100 navigation"
  id="navbar"
>
  <div class="container">
    <a class="navbar-brand font-weight-bold" routerLink="/"
      ><img
        src="https://media.discordapp.net/attachments/889362805713678407/1014528505184264192/furniture-logo-removebg-preview.png"
        alt="companyLogo"
        style="width: 6.9vw"
    /></a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#main-navbar"
      aria-controls="main-navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home </a>
        </li>

        <li class="nav-item dropdown dropdown-slide">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown3"
            role="button"
            data-delay="350"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Shop
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <li><a routerLink="/shop">Shop</a></li>
            <li><a routerLink="/cart">Cart</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">Contact Us</a>
        </li>
      </ul>
    </div>

    <ul class="top-menu list-inline mb-0 d-none d-lg-block" id="top-menu">
      <li class="list-inline-item search-li border">
        <span class="searchInput">
          <input
            type="search"
            class="form-control bg-white"
            id="searchInput"
            [(ngModel)]="search"
            name=""
            placeholder="Search...."
          />
          <a (click)="searchProducts()" class="search_toggle" id="search-icon"
            ><i class="tf-ion-android-search"></i
          ></a>
        </span>
      </li>

      <li class="dropdown cart-nav dropdown-slide list-inline-item">
        <a
          routerLink="/cart"
          class="dropdown-toggle cart-icon"
          data-toggle="dropdown"
          data-hover="dropdown"
        >
          <i class="tf-ion-android-cart"></i>
        </a>
        <div class="dropdown-menu cart-dropdown">
          <div class="media" *ngFor="let cart of items | slice: 0:1">
            <a routerLink="/product-single">
              <img
                class="media-object img- mr-3"
                src="{{ cart.productID.imageUrl }}"
                alt="image"
              />
            </a>
            <div class="media-body">
              <h6>{{ cart.productID.name }}</h6>
              <div class="cart-price">
                <span>Product Price</span>
                <span>{{ cart.productID.price | currency }}</span>
              </div>
            </div>
            <a (click)="delete_item(cart._id)" class="remove"
              ><i class="tf-ion-close"></i
            ></a>
          </div>
          <!-- / Cart Item -->
          <div class="cart-summary">
            <span class="h6">Cart Total</span>
            <span class="total-price h6">{{ total_Price | currency }}</span>

            <div class="text-center cart-buttons mt-3">
              <a
                routerLink="/cart"
                class="btn btn-small btn-transparent btn-block"
                >View Cart</a
              >
              <a routerLink="/checkout" class="btn btn-small btn-main btn-block"
                >Checkout</a
              >
            </div>
          </div>
        </div>
      </li>
      <li class="list-inline-item">
        <a routerLink="/login"><i class="tf-ion-ios-person mr-3"></i></a>
      </li>
    </ul>
  </div>
</nav>
