/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    /* border: none; */
}

/* ------------------ Scroll-Bar ---------------------- */
::-webkit-scrollbar {
    width: 0.3vw;
    /* height: 0.5vw; */
    background-color: rgb(241, 241, 241) ;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(228, 228, 228) ;
    /* border-radius: 15px; */
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*===========================================================
 ------------------ ADMIN VIEW TEMPLATE ---------------------- 
 =============================================================*/

.body_contain{
    width: 98.7vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

/* ------------------ DASHBOARD - MENU ---------------------- */
.body_contain .dash_menu{
    width: 23%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    background: white;
    border-right: 1px solid rgb(238, 238, 238);
    box-shadow: 0px 0px 5px 2px rgba(57, 57, 57, 0.384);
    z-index: 10;
    transition: 0.7s ease-out;
    padding-bottom: 5vw;
}

.logo{
    /* width: 5vw; */
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    /* background: rgb(236, 250, 255); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.108);
    overflow: hidden;
}

.logo .logo-img{
    width: 6.5vw;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img img{
    width: 100%;
    height: 100%;
}

.logo .logo_txt{
   text-align: center;
    color: rgb(52, 52, 52);
    font-size: 0.5vw;
    line-height: 1;
}

.profil_info{
    text-align: center;
    margin-top: 2vw;
}

.profil_info .profile_photo{
    width: 6vw;
    height: 6vw;
    margin: 2vw auto 1vw auto;
    border-radius: 15px;
    overflow: hidden;
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 2px rgba(174, 174, 174, 0.593);
}
.profile_photo img{
    width: 100%;
    height: 100%;
}

.profil_info p{
    font-size: 1.5vw;
    font-weight: bold;
}

.profil_info h4{
    font-size: 1vw;
}

.profil_info span{
    font-size: 1vw;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(97, 97, 97);
}

.dash_menu .dash_opts{
    width: 100%;
    margin-top: 2vw;
    overflow-x: hidden;
    padding: 1vw 0;
    color: rgb(51, 51, 51);
}

.dash_opts .option{
    width: 100%;
    
}

.option summary{
    width: 95%;
    margin: auto;
    padding: 0.7vw 0 0.7vw 1vw;
    position: relative; 
    cursor: pointer;
    transition: 0.4s ease;
    font-size: 1vw;
    font-weight: 500;
    border: 5px solid #17aaa000;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.option summary:hover{
    background: rgb(28, 114, 147);
    /* background: rgb(230, 230, 230); */
    /* background: rgb(28, 114, 147); */
    color: white;
    /* color: rgba(248, 251, 255, 0.718); */
}

summary a{
    width: 100%;
    /* padding: 1vw 0; */
    color: black;
}

summary:hover a{
    color: white;
}

summary:hover i{
    color: rgba(208, 224, 250, 0.718);
}

summary .fa-angle-down{
    position: absolute;
    right: 0;
    top: 0;
    margin-left: 6vw;
    padding: 1vw;
    font-size: 0.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

summary .fa-spray-can, summary .fa-bag-shopping, summary .fa-house-user, summary .fa-splotch{
    margin-right: 1vw;
    color: rgb(47, 47, 47);
}

.option p{
    width: 95%;
    margin: auto;
    border-radius: 5px;
    /* background: rgb(239, 249, 255); */
    /* background: rgb(28, 114, 147); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9vw;
    font-weight: 600;
}

.option p i{
    margin-right: 0.3vw;
}

.option p a{
    width: 80vw;
    padding: 0.7vw 1vw;
    padding-left: 3vw;
    color: rgba(0, 0, 0, 0.897);
    transition: 0.2s ease;
}
.option p:hover a{
    border-radius: 5px;
    border-left: 7px solid rgb(28, 114, 147);
    /* color: rgb(255, 255, 255); */
    color: rgb(28, 114, 147);
}

.logOut{
    position: absolute;
    bottom: 5vw;
    left: 2vw;
    padding: 0.5vw 1vw;
    color: white;
    border-radius: 5px;
    background-color: rgb(28, 114, 147);
}

/* ------------------ BODY / MAIN ---------------------- */
.body_contain .body_main{
    width: 100%;
    height: 100%;   
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 1s all;
    padding-bottom: 5vw;
    background-color: rgb(245, 245, 245);
}


/* ------------------ Top-Bar ---------------------- */
.body_main .top_bar{
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid rgb(214, 214, 214); */
    box-shadow: 4px 0px 5px 2px rgba(10, 10, 10, 0.384);
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 10;
}

.top_bar .menu_bars{
    height: 100%;
    width: 2vw;
    margin-left: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_bars .fa-bars{
    font-size: 2vw;
    /* opacity: 0.7; */
    cursor: pointer;
    transition: 0.1s ease;
    /* color: rgb(0, 0, 0); */
    color: rgb(28, 114, 147);
}
.menu_bars .fa-bars:hover{
    
    color: rgb(122, 183, 208);
}

/* ------------------ Top-Bar / SEARCH-BAR ---------------------- */
.top_bar .search{
    width: 20vw;
    height: 2.5vw;
    margin: 0 1vw 0 0;
    display: flex;
    align-items: center;
    position: relative;
}

.search input[type="search"]{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(201, 201, 201);
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding-left: 0.5vw;
    font-size: 1vw;
}

.search .searchIcon{
    width: 20%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(28, 114, 147);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.863);
}

.searchIcon mat-icon{
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------ BODY - MAIN / HEADING ---------------------- */
.body_main h1{
    width: 95%;
    /* border: 1px solid red; */
    display: block;
    margin: 7vw auto 0 auto;
    font-size: 2.5vw;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.body_main h1 a{
    float: right;
    font-size: 1vw;
    font-weight: 400;
    padding: 1vw;
}

.body_main h1::after{
    content: "";
    width: 2vw;
    height: 3px;
    background: rgb(28, 114, 147);
    display: block;
    margin-top: 0.5vw;
    border-radius: 40px;
}

.product a img {
    /* border: 2px solid red; */
    height: 25vw;
    width: 40vw;
}

button, 
a {
    cursor: pointer !important;
}
