<div class="body_contain">
  <!--------- DASHBOARD MENU --------->
  <section class="dash_menu" id="dash_menu" *ngIf="toggle">
    <a href="/" class="links">
      <div class="logo">
        <div class="logo_txt">
          <h5>Furniture Masters</h5>
        </div>
      </div>
    </a>
    <div class="profil_info">
      <div class="profile_photo">
        <img
          src="https://images.unsplash.com/photo-1627161684458-a62da52b51c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=549&q=80"
          alt=""
        />
      </div>
      <h4>{{ auth.getUsername() }}</h4>
      <span>Admin</span>
    </div>
    <div class="dash_opts">
      <details class="option">
        <summary>
          <a href="/admin"><i class="fa-solid fa-house-user"></i>Dashboard</a>
        </summary>
      </details>

      <details class="option">
        <summary>
          <i class="fa-solid fa-bag-shopping"></i>Manage Products<i
            class="fa-solid fa-angle-down"
          ></i>
        </summary>
        <p>
          <a routerLink="/add-product" title="Add a new product"
            ><i class="fa-solid fa-circle-plus"></i> Add New</a
          >
        </p>
        <p>
          <a routerLink="/product-list" title="View all products"
            ><i class="fa-solid fa-spray-can"></i> Product List</a
          >
        </p>
      </details>

      <details class="option">
        <summary>
          <i class="fa-solid fa-splotch"></i>Manage Orders<i
            class="fa-solid fa-angle-down"
          ></i>
        </summary>
        <p>
          <a routerLink="/order" title="View all Orders"
            ><i class="fa-solid fa-list-ul"></i> Order List</a
          >
        </p>
      </details>

      <details class="option">
        <summary>
          <i class="fa-solid fa-message"></i>Manage Messages<i
            class="fa-solid fa-angle-down"
          ></i>
        </summary>
        <p>
          <a routerLink="/message-list" title="View all Messages"
            ><i class="fa-solid fa-list-ul"></i> Message List</a
          >
        </p>
      </details>

      <a class="logOut" (click)="logout()"
        ><i class="fa-solid fa-arrow-right-from-bracket"></i> log out</a
      >
    </div>
  </section>

  <!--------- BODY / MAIN --------->
  <section class="body_main" id="body_main">
    <div class="top_bar">
      <div (click)="hideMenu()" title="Side Bar" class="menu_bars">
        <i class="fa-solid fa-bars"></i>
      </div>

      <div class="search">
        <input type="search" placeholder="Type to search" />
        <button class="searchIcon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>

    <h1>Add New Product</h1>

    <div class="prodBrands-tbls-container">
      <div class="container col-md-9 col-lg-7 col-xl-8 mx-auto text-center">
        <div class="form p-4 border">
          <!-- <div class="col-12">
                     <div class="bg-primary opacity-75 bg-gradient text-center text-white fw-bolder fs-3">
                         Add New Product
                     </div>
                     <hr>
                 </div> -->
          <form
            class="row g-3 productForm"
            [formGroup]="addProduct"
            (submit)="createProduct()"
          >
            <div class="col-12">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
              />
            </div>
            <div class="col-md-6">
              <label for="image" class="form-label">Image</label>
              <input
                type="text"
                class="form-control"
                id="image"
                formControlName="imageUrl"
              />
            </div>
            <div class="col-6">
              <label for="category" class="form-label">Category</label>
              <input
                type="text"
                class="form-control"
                id="category"
                formControlName="category"
              />
            </div>
            <div class="col-md-6">
              <label for="qauntity" class="form-label">Quantity</label>
              <input
                type="text"
                class="form-control"
                id="qauntity"
                formControlName="quantity"
              />
            </div>
            <div class="col-md-6">
              <label for="price" class="form-label">Price</label>
              <input
                type="number"
                class="form-control"
                id="price"
                formControlName="price"
              />
            </div>
            <div class="col-md-12">
              <label for="description" class="form-label">Description</label
              ><br />
              <textarea
                name="description"
                id=""
                cols="30"
                rows="10"
                class="form-control"
                formControlName="description"
              ></textarea>
            </div>
            <div class="col-12 text-center">
              <button
                type="submit"
                class="btn btn-primary w-50 bg-gradient p-1 text-center mb-2 text-white fw-bolder fs-3"
              >
                Add Product
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
