<app-header></app-header>

<div class="container">
  <div class="left">
    <table>
      <tr>
        <th colspan="2"><h1>Shopping Cart</h1></th>
        <th><p>Price</p></th>
      </tr>
      <tr *ngFor="let items of items">
        <td>
          <img src="{{ items.productID.image_url }}" />
        </td>
        <td>
          <div class="info">
            <p>{{ items.productID.book_name }}</p>
            <span>by {{ items.productID.author }}</span
            ><br />
            <button (click)="delete_item(items._id)">Remove</button>
          </div>
        </td>
        <td>
          <b>{{ items.productID.price | currency }}</b>
        </td>
      </tr>
    </table>
  </div>

  <div class="right">
    <div class="to-checkout">
      <p>
        ({{ cart_Length }} item(s)) <br />
        Total: <b>{{ total_Price | currency }}</b>
      </p>
      <button (click)="showCheckout()">Checkout</button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="checkout">
  <div class="hide_checkout" (click)="hide_checkout()">
    <i class="fa-solid fa-circle-xmark"></i>
  </div>

  <div class="checkout">
    <div>
      <p>total:</p>
      <h3>{{ total_Price | currency }}</h3>
    </div>
    <div id="paypal">
      <!-- <app-paypal-button> create order and pass here </app-paypal-button> -->
    </div>
  </div>
</div>

