.container {
  width: 100%;
}

.overview-boxes {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.3vw auto;
}

.box {
  width: 24vw;
  padding: 1vw 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 2vw 2vw;
  border-radius: 1vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.box-topic {
  font-size: 2vw;
  font-weight: 500;
}

.number {
  font-size: 1.5vw;
  font-weight: 500;
  text-align: center;
  padding: 2% auto;
  margin-top: 1vw;
}

/* .indicator{
    display: flex;
    align-items: center;
  } */

.box > i {
  /* text-align: center; */
  font-size: 3vw;
}

.fa-users {
  color: #6ab2ff;
}
.fa-video {
  /* border: 1px solid red; */
  color: #ffc659;
}
.fa-sack-dollar {
  color: #2cd47e;
}
.fa-cart-arrow-down {
  color: #e05363;
}

.tables {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  /* align-items: baseline; */
  align-items: flex-start;
  padding: 1vw;
}

.products {
  /* border: 1px solid red; */
  width: 54%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.contacts {
  /* border: 1px solid red; */
  width: 45%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.products > tbody > tr {
  border-bottom: 2px solid grey;
}
.products > thead > tr > h1,
.contacts > thead > tr > h1 {
  font-size: 2vw;
  left: 1vw;
}

table,
th,
td {
  border-radius: 1vw;
  background: #fff;
  border-collapse: separate;
  padding: 0.453vw;
}
th {
  text-align: center;
}
th {
  /* background: #a7acb4; */
  font-size: 1.2vw;
  font-weight: bold;
}

td {
  font-size: 1.2vw;
}

td > a {
  /* border: 1px solid red; */
  text-decoration: none;
  /* font-size: 2vw; */
  margin-right: 1vw;
}

.fa-film {
  color: #28a745;
}
.fa-clapperboard {
  color: #007bff;
}
.fa-video-slash {
  color: #dc3545;
}
